.heroContainer {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroimageArea {
  img {
    width: 650px;
  }
}

.heroBox {
  /* background-color: bisque; */
  width: 95%;
  display: flex;
  justify-content: center;
  background-color: #f9eee1;
  border-radius: 30px;
}

.heroWrapper {
  width: 94%;
  /* background-color: brown; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.heroTextArea {
  font-family: Sora;

  .heroTextCaption {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 13px;
    font-weight: 600;
    color: #5f2a5d;
  }

  h1 {
    font-size: 67px;
  }
  h3 {
    color: #5f2a5d;
    font-size: 22px;
    margin-top: -10px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 55px;
    width: 195px;
    background-color: #ff885e;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 350ms;

    span {
      margin-right: 10px;
      font-family: Poppins;
    }
  }

  button:hover {
    opacity: 0.85;
    transition: all 350ms;
    transform: scale(0.95);
  }
}
