body {
  margin: 0px;
}

.sectionOne {
  height: 100vh;
  background-color: darkcyan;
}

.firstTitle {
  font-size: 200px;
  margin: 0px;
  text-align: center;
}

.firstContent {
  font-size: 50px;
  text-align: center;
}
