body {
  margin: 0;
  font-family: Montserrat;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  /* background-color: pink; */
}

.headerBoxOne {
  display: flex;
  align-items: center;
  /* background-color: red; */
}
.navigations {
  display: flex;
}

.headerBoxTwo {
  display: flex;
  /* background-color: violet; */
  align-items: center;
}

.logo {
  padding-right: 60px;
}

.navs {
  padding-right: 30px;
  cursor: pointer;
  font-size: 14px;
}

.loginNav {
  font-size: 14px;
  /* background-color: yellow; */
  padding-right: 60px;
}

.registerButton {
  background-color: transparent;
  padding: 10px 20px;
  font-family: Montserrat;
  border-radius: 10px;
}

.HeroContainer {
  width: 100%;
  display: flex;
  /* background-color: bisque; */
  justify-content: space-evenly;
}

.heroImage {
  width: 400px;
  /* background-color: aqua; */
}

h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
}
p {
  font-size: 17px;
  width: 400px;
  line-height: 30px;
}

.textSection {
  /* background-color: blueviolet; */
}

.learnMoreButton {
  padding: 13px 30px;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: none;
  font-family: Montserrat;
  font-size: small;
  margin: 20px 0px;
}

.brandHold {
  margin-top: 50px;
}
